.form{
  display: flex;
  flex-direction: column;
    width: 30%;
    padding: 10px;
    border: solid rgba(122, 80, 236, 0.849) 2px;
    background-color: rgba(69, 52, 88, 0.993);
    margin:15px;
    border-radius: 10px;
    height: fit-content;
    min-width: 400px;
    position: fixed;
  }
button{
    margin-top: 20px;
  }
  #output{
    height: 150px;
    width: 200px;
    align-self: center;
  }

